@charset "UTF-8";

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1168px;
  --font-h1: 44px;
  --font-h2: 35px;
  --font-h3: 24px;
  --font-h4: 20px;
  --font-h5: 16px;
  --font-24: 24px;
  --font-18: 18px;
  --font-14: 14px;
  --font-12: 12px;
  --font-btn: 20px;
  --font-popup: 20px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #FCFCFC;
  font-variant-numeric: lining-nums;
  font-family: Montserrat;
  color: #3D4B55;
}

main {
  padding: 72px 0 72px 0;
}

img {
  pointer-events: none;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: var(--font-h1);
  font-weight: 700;
  margin-bottom: 28px;
}

h2 {
  font-size: var(--font-h2);
  font-weight: 700;
  margin-bottom: 28px;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 200px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FFFFFF;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: #1D996C;
  /* цвет плашки */
  border-radius: 5px;
  /* закругления плашки */
}

.warning-hint {
  padding: 20px 12px 20px 12px;
  background-color: #EBECEC;
  border-radius: 10px;
  border: 1px solid #DD2A1B;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.warning-hint p {
  font-size: var(--font-18);
  color: #3D4B55;
}

.warning-hint p strong {
  font-weight: 700;
}

.warning-hint img {
  width: 24px;
  height: 24px;
}

#burger_menu {
  z-index: 100;
  width: 14px;
  height: 12px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

#burger_menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#burger_menu span:nth-child(1) {
  top: 0px;
}

#burger_menu span:nth-child(2),
#burger_menu span:nth-child(3) {
  top: 5px;
}

#burger_menu span:nth-child(4) {
  top: 10px;
}

#burger_menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#burger_menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

#burger_menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#burger_menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

header:has(.burger_menu.open) .header__adaptive-content {
  top: 0;
}

.check-label {
  cursor: pointer;
}

.check-label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.fakecheck {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #3D4B55;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out 0s;
}

.fakecheck svg polyline {
  transition: all 0.3s ease-out 0s;
}

.fakecheck.checked svg polyline {
  stroke-dashoffset: 0;
}

.fakecheck.checked {
  background-color: #1D996C;
  border-color: #1D996C;
}

.header__top-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.header__top-inner .header__logo {
  margin-right: 24px;
  width: 132px;
  height: 76px;
}

.header__search {
  margin-right: 24px;
}

.header__search-input {
  width: 644px;
  height: 48px;
  background-color: #1D996C;
  border-radius: 10px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 8px;
  gap: 8px;
}

.header__search-input img {
  width: 24px;
  height: 24px;
}

.header__search-input-wrapper {
  width: 604px;
  height: 44px;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 16px;
  padding-right: 12px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.header__search-input-wrapper img {
  width: 16px;
  height: 16px;
}

.header__search-input-wrapper input {
  width: 90%;
}

.header__search-input-wrapper input::placeholder {
  color: #B0B0B0;
}

.header__search-additions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__search-additions > label {
  width: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__search-additions > label span {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
}

.header__location {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header__location img {
  width: 16px;
  height: 20px;
}

.header__location span {
  font-size: 500;
  font-size: 14px;
}

.header__phone {
  margin-left: auto;
  margin-bottom: 28px;
}

.header__phone a {
  font-size: var(--font-18);
  font-weight: 600;
  color: #3D4B55;
}

.header__phone .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__phone .row svg {
  width: 16px;
  height: 16px;
}

.header__phone .row span {
  font-weight: 500;
  font-size: var(--font-14);
  border-bottom: 1px dashed #1D996C;
}

.header__bottom {
  padding: 20px 0 15px;
  background-color: #252D33;
  color: #FFF;
}

.header__bottom-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
}

.header__bottom-inner button {
  width: 144px;
  height: 44px;
  margin-right: 4px;
  background-color: #115C41;
  border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 600;
  font-size: var(--font-12);
}

.header__bottom-inner nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__bottom-inner nav ul li {
  width: 144px;
  height: 44px;
  background-color: #177A56;
  border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__bottom-inner nav ul li a {
  color: #FFFFFF;
  font-weight: 600;
  font-size: var(--font-12);
}

.header__bottom-inner nav ul li:nth-child(2) {
  background-color: #1D996C;
}

.header__bottom-inner nav ul li:nth-child(3) {
  background-color: #45AC87;
}

.header__account {
  margin-left: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.header__cart {
  height: 48px;
  padding: 4px 16px 4px 12px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  color: #414141;
}

.header__cart .col:first-child {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 12px;
  border-right: 1px solid #DFDFDF;
}

.header__cart .col:first-child img {
  width: 24px;
  height: 24px;
}

.header__cart .col:first-child span {
  font-size: 10px;
  font-weight: 400;
}

.header__cart .col:last-child {
  padding-left: 12px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.header__cart .col:last-child span {
  font-size: 10px;
  color: #414141;
  font-weight: 400;
}

.header__cart .col:last-child strong {
  font-weight: 700;
  font-size: var(--font-14);
}

.header__account-login {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.header__account-login img {
  width: 48px;
  height: 48px;
}

.header__account-login span {
  font-weight: 500;
  font-size: 8px;
}

.header-login .header__top {
  align-items: center;
  justify-content: space-between;
}

.header-login .header__location {
  margin-left: auto;
  margin-bottom: 0;
}

.header-login .header__phone {
  margin-left: 40px;
  margin-bottom: 0;
}

.header-login .header__bottom .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.header-login .header__bottom .header__search-input {
  width: 588px;
}

.header-login .header__bottom .header__search-input input {
  color: #3d4b55;
}

.header__account-full-info {
  width: 244px;
  height: 100%;
  padding: 7px 16px 12px;
  background-color: #fff;
  color: #414141;
  border-radius: 10px;
  box-shadow: 0 8px 17px 0 rgba(74, 74, 74, 0.1), 0 189px 53px 0 rgba(74, 74, 74, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.header__account-full-info label {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__account-full-info label button {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  font-size: 8px;
  font-weight: 400;
}

.header__account-full-info label img {
  flex: none;
  width: 12px;
  height: 12px;
}

.header__account-full-info .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__account-full-info .row:first-child {
  align-items: flex-start;
}

.header__account-full-info .row:first-child strong {
  font-size: var(--font-12);
  font-weight: 700;
  max-width: 144px;
}

.header__account-full-info .row:first-child span {
  font-size: 10px;
  font-weight: 400;
  color: #1D996C;
}

.header__account-full-info .row:nth-child(2) {
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 4px;
}

.header__account-full-info .row:nth-child(2) span {
  font-size: 10px;
  font-weight: 400;
}

.header__account-full-info .row:nth-child(2) strong {
  font-size: var(--font-14);
  font-weight: 700;
  color: #1D996C;
}

.header__account-full-info .row:nth-child(3) {
  margin-bottom: 0;
  align-items: flex-end;
}

.header__account-full-info .row:nth-child(3) .col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__account-full-info .row:nth-child(3) span {
  font-size: 8px;
}

.header__account-full-info .row:nth-child(3) strong {
  font-size: 10px;
  font-weight: 700;
  color: #DD2A1B;
}

.header__account:has(.header__account-icons) {
  align-items: stretch;
}

.header__account > .col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__account-icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__account-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  position: relative;
}

.header__account-icon img {
  width: 48px;
  height: 48px;
}

.header__account-icon span {
  font-size: 8px;
  font-weight: 500;
}

.header__account-icon.notification::after {
  opacity: 1;
}

.header__account-icon::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #FFBF00;
  position: absolute;
  right: 2px;
  top: -2px;
  opacity: 0;
}

.header-login-small {
  background-color: #252D33;
  color: #FFF;
  padding: 20px 0;
}

.header-login-small__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
}

.header-login-small .header__logo {
  margin-right: 48px;
}

.header-login-small .header__search {
  padding: 12px 0;
}

.header-login-small .header__search .header__search-input {
  width: 336px;
  height: 44px;
}

.header-login-small .header__search .header__search-input input {
  font-size: 12px;
  color: #3d4b55;
}

.header-login-small .header__account-icons {
  margin-left: auto;
  padding: 12px 0;
}

.header__balace-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  gap: 8px;
  padding: 12px 0;
}

.header__balace-items .header__balace-item {
  height: 44px;
  padding: 12px 8px 12px 16px;
  background-color: #5C6871;
  border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 172px;
  position: relative;
}

.header__balace-items .header__balace-item img {
  width: 20px;
  height: 20px;
}

.header__balace-items .header__balace-item strong {
  font-size: var(--font-14);
  font-weight: 700;
}

.header__balace-items .header__balace-item span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFBF00;
  border-radius: 20px;
  font-size: 8px;
  color: #3D4B55;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -4px;
  top: -8px;
}

.bulk-client {
  margin-bottom: 63px;
}

.bulk-client__inner > p {
  font-size: var(--font-24);
  color: #414141;
  margin-bottom: 48px;
}

.bulk-client__steps {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  gap: 16px;
  padding: 0 24px 0 24px;
  position: relative;
  margin-bottom: 40px;
}

.bulk-client__steps::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 88px;
  border-radius: 10000px;
  background-color: #1D996C;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
}

.bulk-client__steps li {
  flex: 1;
  height: auto;
  padding: 28px 8px 24px 8px;
  border-radius: 10px;
  border: 1px solid #1D996C;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  position: relative;
  background-color: #fff;
}

.bulk-client__steps li:not(:last-child)::after {
  content: url(../images/icons/icon-arrow.svg);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: -13px;
  width: 8px;
}

.bulk-client__steps li img {
  width: 52px;
  height: 52px;
}

.bulk-client__steps li p {
  text-align: center;
  font-size: var(--font-12);
}

.bulk-client__steps li > svg {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.bulk-client__step-tooltip {
  position: absolute;
  bottom: -26px;
  padding: 8px;
  border-radius: 5px;
  border: 0.5px solid #1D996C;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  right: 0;
  visibility: hidden;
  cursor: pointer;
}

.bulk-client__step-tooltip:hover {
  opacity: 1;
  visibility: visible;
}

.bulk-client__step-tooltip svg {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.bulk-client__step-tooltip p {
  white-space: nowrap;
  text-align-last: left;
}

.bulk-client__steps:has(li > svg:hover) .bulk-client__step-tooltip {
  opacity: 1;
  visibility: visible;
}

.bulk-documents {
  margin-bottom: 72px;
}

.bulk-documents__cards {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  gap: 32px;
}

.bulk-documents__card {
  flex: 1;
  height: auto;
  padding: 16px 24px 24px 24px;
  border-radius: 10px;
  border: 1px solid #3d4b55;
}

.bulk-documents__card img {
  width: 72px;
  height: 72px;
  border-bottom: 8px;
}

.bulk-documents__card h3 {
  font-size: var(--font-h4);
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
}

.bulk-documents__card ul {
  padding-left: 1rem;
}

.bulk-documents__card ul li {
  list-style-type: disc;
  font-size: var(--font-14);
  line-height: 20px;
  font-weight: 400;
}

.bulk-documents__card ul li:not(:last-child) {
  margin-bottom: 5px;
}

.bulk-advantages {
  margin-bottom: 80px;
}

.bulk-advantages ul {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  margin-bottom: 40px;
}

.bulk-advantages ul li {
  box-shadow: 3px 4px 7px 0 rgba(1, 82, 51, 0.05);
  background: #f0f6f3;
  position: relative;
  border-radius: 10px;
  padding: 20px 32px 20px 32px;
  height: 168px;
}

.bulk-advantages ul li h3 {
  font-size: var(--font-h4);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 8px;
}

.bulk-advantages ul li p {
  font-size: var(--font-h5);
  font-weight: 400;
  color: #3d4b55;
}

.bulk-advantages ul li img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 100%;
}

.bulk-advantages ul li.green-light {
  background-color: #E7FEF6;
}

.bulk-advantages ul li.green-dark {
  background-color: #1D996C;
  color: #FFFFFF;
}

.bulk-advantages ul li.green-dark p {
  color: #FFFFFF;
}

.bulk-advantages button {
  height: 72px;
  width: 100%;
  text-align: center;
  font-size: var(--font-btn);
  font-weight: 600;
  background-color: #1D996C;
  color: #FFF;
  border-radius: 10px;
}

.icon-180 {
  width: 180px;
}

.icon-216 {
  width: 216px;
}

.icon-172 {
  width: 172px;
}

.icon-232 {
  width: 232px;
}

.icon-168 {
  width: 168px;
}

.icon-68 {
  width: 68px;
  height: 68px;
  right: 20px !important;
  bottom: 20px !important;
}

.bulk-contacts h2 {
  margin-bottom: 8px;
}

.bulk-contacts p {
  font-size: var(--font-24);
  font-weight: 400;
  margin-bottom: 12px;
}

.bulk-contacts a {
  font-size: var(--font-h2);
  font-weight: 700;
  color: #1D996C;
}

.purveyor {
  margin-bottom: 56px;
}

.purveyor__advantages {
  margin-top: 48px;
  padding: 36px 50px 40px 52px;
  border-radius: 10px;
  background-color: #3D4B55;
  color: #FFFFFF;
}

.purveyor__advantages h2 {
  font-size: var(--font-h3);
  font-weight: 700;
  margin-bottom: 32px;
}

.purveyor__advantages ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  gap: 84px;
  margin-bottom: 28px;
}

.purveyor__advantages li {
  position: relative;
}

.purveyor__advantages li img {
  width: 72px;
  height: 72px;
  margin-bottom: 12px;
}

.purveyor__advantages li h3 {
  font-size: var(--font-h4);
  font-weight: 700;
  margin-bottom: 4px;
}

.purveyor__advantages li p {
  font-size: var(--font-14);
  font-weight: 400;
}

.purveyor__advantages li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 37px;
  left: 100px;
  height: 1.5px;
  width: 200px;
  background-color: #1D996C;
}

.purveyor__advantages > a {
  padding: 8px 64px;
  background-color: #1D996C;
  font-size: var(--font-btn);
  font-weight: 600;
  border-radius: 10px;
  height: 72px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.purveyor-info {
  margin-bottom: 48px;
}

.purveyor-info h2 {
  font-size: var(--font-h3);
  font-weight: 700;
  margin-bottom: 16px;
}

.purveyor-info ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  gap: 32px;
}

.purveyor-info ul li {
  flex: 1;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #EBECEC;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.purveyor-info ul li img {
  width: 56px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(1, 82, 51, 0.05);
}

.purveyor-info ul li p {
  font-size: var(--font-h5);
  font-weight: 400;
}

.purveyor-info ul li svg {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.purveyor-info ul li .tooltip {
  position: absolute;
  bottom: -20px;
  padding: 8px 12px;
  padding-right: 20px;
  border-radius: 5px;
  border: 0.5px solid #1D996C;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  right: 0;
  visibility: hidden;
  cursor: pointer;
}

.purveyor-info ul li .tooltip:hover {
  opacity: 1;
  visibility: visible;
}

.purveyor-info ul li .tooltip svg {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.purveyor-info ul li .tooltip p {
  white-space: nowrap;
  text-align-last: left;
  font-size: 10px;
  font-weight: 400;
  color: #7B868E;
}

.purveyor-info:has(li > svg:hover) .tooltip {
  opacity: 1;
  visibility: visible;
}

.purveyor-necessary h2 {
  font-size: var(--font-h3);
  font-weight: 700;
  margin-bottom: 16px;
}

.purveyor-necessary ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.purveyor-necessary li {
  padding: 16px;
  border-radius: 10px;
  background-color: #115C41;
  color: #FFFFFF;
  display: inline-block;
  height: 148px;
  width: 350px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.purveyor-necessary li:not(:first-child) {
  margin-left: -100px;
}

.purveyor-necessary li:last-child {
  margin-left: -33px;
}

.purveyor-necessary li:nth-child(2) {
  background-color: #177A56;
}

.purveyor-necessary li:nth-child(3) {
  background-color: #1D996C;
}

.purveyor-necessary li:nth-child(3) span {
  color: #177A56;
}

.purveyor-necessary li:nth-child(4) {
  background-color: #45AC87;
}

.purveyor-necessary li:nth-child(4) span {
  color: #1D996C;
}

.purveyor-necessary li span {
  display: inline-block;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #FFFFFF;
  color: #115C41;
  margin-bottom: 11px;
  font-weight: 600;
}

.purveyor-necessary li p {
  font-size: var(--font-h5);
  font-weight: 400;
}

.balance__header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.balance__header h1 {
  margin-bottom: 0;
}

.balance__header button {
  background-color: #1D996C;
  font-weight: 600;
  font-size: var(--font-h4);
  border-radius: 10px;
  color: #FFFFFF;
  width: 368px;
  height: 61px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance__status {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 60px;
}

.balance__status-col {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.balance__status-col > span {
  height: 48px;
  width: 100%;
  border-radius: 5px;
  color: #3D4B55;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: var(--font-14);
}

.balance__status-col:last-child > span {
  background-color: #DD2A1B;
  color: #FFFFFF;
}

.balance__status-title {
  height: 48px;
  width: 100%;
  border-radius: 5px;
  background-color: #7B868E;
  color: #FFFFFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: var(--font-14);
}

.balance__replenish {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.balance__replenish h2 {
  margin-bottom: 0;
  font-size: var(--font-h4);
  font-weight: 700;
}

.balance__replenish-input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.balance__replenish-input input {
  height: 44px;
  width: 331px;
  border-radius: 5px;
  border: 1px solid #3D4B55;
  box-shadow: inset 3px 4px 4px 0 rgba(61, 75, 85, 0.25);
}

.balance__replenish-input button {
  width: 279px;
  margin-left: -10px;
  border-radius: 0 5px 5px 0;
  background-color: #3D4B55;
  height: 44px;
  color: #FFFFFF;
}

.balance__table {
  padding: 16px 40px 28px;
  border-radius: 10px;
  background-color: #45AC87;
  color: #FFFFFF;
  margin-bottom: 96px;
}

.balance__table h2 {
  font-size: var(--font-h3);
  margin-bottom: 28px;
  font-weight: 700;
  height: 56px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.balance__table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 8px 0px;
  font-size: var(--font-14);
  font-weight: 700;
}

.balance__table table tbody tr {
  border-bottom: 1px solid #FFFFFF;
}

.balance__table table tbody td {
  text-align: center;
  height: 40px;
  width: 176px;
  padding: 4px 0;
}

.balance__table table thead th:not(:first-child) {
  text-align: center;
  height: 44px;
  width: 176px;
  background-color: #5C6871;
  border-radius: 5px;
}

.balance__table table thead th.current {
  background-color: #3D4B55;
}

.balance__forecast {
  margin-bottom: 64px;
}

.balance__forecast-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 12px;
}

.balance__forecast h2 {
  margin-bottom: 0;
  font-size: var(--font-h3);
  font-weight: 700;
  width: 284px;
}

.balance__forecast button {
  font-weight: 600;
  font-size: var(--font-18);
  color: #FFFFFF;
  background-color: #3D4B55;
  border-radius: 5px;
  width: 404px;
  height: 52px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance__forecast-info.open {
  display: flex;
  margin-top: 32px;
}

.balance__forecast-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 4px;
  border-bottom: 0.5px solid #99A3AA;
}

.balance__forecast-info .col {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: var(--font-14);
  font-weight: 700;
}

.balance__forecast-info .col span {
  height: 48px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance__forecast-info .col span:first-child {
  background-color: #7B868E;
  color: #FFFFFF;
  border-radius: 5px;
}

.balance__payment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance__payment h2 {
  margin-bottom: 0;
  font-size: var(--font-h3);
  font-weight: 700;
  width: 284px;
  margin-right: 48px;
}

.balance__payment button {
  font-weight: 600;
  font-size: var(--font-18);
  color: #FFFFFF;
  background-color: #3D4B55;
  border-radius: 5px;
  width: 404px;
  height: 52px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance__payment button:last-child {
  margin-left: 32px;
}

.replenishment__selections {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 669px;
}

.replenishment__selections h2 {
  font-size: var(--font-h3);
  height: 44px;
  margin-bottom: 12px;
}

.replenishment__selections .replenishment__selection {
  padding: 0 20px 0 32px;
  height: 68px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 9px 10px 0 rgba(1, 82, 51, 0.05);
  background: #fff;
  border-radius: 10px;
}

.replenishment__selections .replenishment__selection .col h3 {
  font-size: var(--font-14);
  font-weight: 700;
  color: #3D4B55;
}

.replenishment__selections .replenishment__selection input {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 9;
}

.replenishment__selections .replenishment__selection input::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #3D4B55;
  z-index: 10;
}

.replenishment__selections .replenishment__selection input:checked::after {
  background-color: #1D996C;
}

.replenishment__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  gap: 31px;
}

.replenishment__inner .replenishment__info {
  flex: 1;
  height: auto;
  background-color: #3D4B55;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 48px 68px 60px;
}

.replenishment__inner .replenishment__info h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

.replenishment__inner .replenishment__info span {
  display: inline-block;
  width: 100%;
  height: 48px;
  box-shadow: inset 3px 4px 4px 0 rgba(61, 75, 85, 0.25);
  background: #fff;
  color: #3D4B55;
  border: 1px solid #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-24);
  font-weight: 700;
  margin-bottom: 20px;
}

.replenishment__inner .replenishment__info button {
  width: 100%;
  height: 60px;
  font-weight: 600;
  font-size: var(--font-h4);
  background-color: #1D996C;
  border-radius: 10px;
}