@charset "UTF-8";

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1168px;
  --font-h1: 44px;
  --font-h2: 35px;
  --font-h3: 24px;
  --font-h4: 20px;
  --font-h5: 16px;
  --font-24: 24px;
  --font-18: 18px;
  --font-14: 14px;
  --font-12: 12px;
  --font-btn: 20px;
  --font-popup: 20px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #FCFCFC;
  font-variant-numeric: lining-nums;
  font-family: Montserrat;
  color: #3D4B55;
}

main {
  padding: 72px 0 72px 0;
}

img {
  pointer-events: none;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: var(--font-h1);
  font-weight: 700;
  margin-bottom: 28px;
}

h2 {
  font-size: var(--font-h2);
  font-weight: 700;
  margin-bottom: 28px;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 200px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FFFFFF;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: #1D996C;
  /* цвет плашки */
  border-radius: 5px;
  /* закругления плашки */
}

.warning-hint {
  padding: 20px 12px 20px 12px;
  background-color: #EBECEC;
  border-radius: 10px;
  border: 1px solid #DD2A1B;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.warning-hint p {
  font-size: var(--font-18);
  color: #3D4B55;
}

.warning-hint img {
  width: 24px;
  height: 24px;
}

.bulk-client {
  margin-bottom: 63px;
}

.bulk-client__inner > p {
  font-size: var(--font-24);
  color: #414141;
  margin-bottom: 48px;
}

.bulk-client__steps {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  gap: 16px;
  padding: 0 24px 0 24px;
  position: relative;
  margin-bottom: 40px;
}

.bulk-client__steps::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 88px;
  border-radius: 10000px;
  background-color: #1D996C;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
}

.bulk-client__steps li {
  flex: 1;
  height: auto;
  padding: 28px 8px 24px 8px;
  border-radius: 10px;
  border: 1px solid #1D996C;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  position: relative;
  background-color: #fff;
}

.bulk-client__steps li:not(:last-child)::after {
  content: url(../images/icons/icon-arrow.svg);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: -13px;
  width: 8px;
}

.bulk-client__steps li img {
  width: 52px;
  height: 52px;
}

.bulk-client__steps li p {
  text-align: center;
  font-size: var(--font-12);
}

.bulk-client__steps li > svg {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.bulk-client__step-tooltip {
  position: absolute;
  bottom: -36px;
  padding: 8px;
  border-radius: 5px;
  border: 0.5px solid #1D996C;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  right: 0;
  visibility: hidden;
  cursor: pointer;
}

.bulk-client__step-tooltip:hover {
  opacity: 1;
  visibility: visible;
}

.bulk-client__step-tooltip svg {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.bulk-client__step-tooltip p {
  white-space: nowrap;
  text-align-last: left;
}

.bulk-client__steps:has(li > svg:hover) .bulk-client__step-tooltip {
  opacity: 1;
  visibility: visible;
}

.bulk-documents {
  margin-bottom: 72px;
}

.bulk-documents__cards {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  gap: 32px;
}

.bulk-documents__card {
  flex: 1;
  height: auto;
  padding: 16px 24px 24px 24px;
  border-radius: 10px;
  border: 1px solid #3d4b55;
}

.bulk-documents__card img {
  width: 72px;
  height: 72px;
  border-bottom: 8px;
}

.bulk-documents__card h3 {
  font-size: var(--font-h4);
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
}

.bulk-documents__card ul {
  padding-left: 1rem;
}

.bulk-documents__card ul li {
  list-style-type: disc;
  font-size: var(--font-14);
  line-height: 20px;
  font-weight: 400;
}

.bulk-documents__card ul li:not(:last-child) {
  margin-bottom: 5px;
}

.bulk-advantages {
  margin-bottom: 80px;
}

.bulk-advantages ul {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  margin-bottom: 40px;
}

.bulk-advantages ul li {
  box-shadow: 3px 4px 7px 0 rgba(1, 82, 51, 0.05);
  background: #f0f6f3;
  position: relative;
  border-radius: 10px;
  padding: 20px 32px 20px 32px;
  height: 168px;
}

.bulk-advantages ul li h3 {
  font-size: var(--font-h4);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 8px;
}

.bulk-advantages ul li p {
  font-size: var(--font-h5);
  font-weight: 400;
  color: #3d4b55;
}

.bulk-advantages ul li img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 100%;
}

.bulk-advantages ul li.green-light {
  background-color: #E7FEF6;
}

.bulk-advantages ul li.green-dark {
  background-color: #1D996C;
  color: #FFFFFF;
}

.bulk-advantages ul li.green-dark p {
  color: #FFFFFF;
}

.bulk-advantages button {
  height: 72px;
  width: 100%;
  text-align: center;
  font-size: var(--font-btn);
  font-weight: 600;
  background-color: #1D996C;
  color: #FFF;
  border-radius: 10px;
}

.icon-180 {
  width: 180px;
}

.icon-216 {
  width: 216px;
}

.icon-172 {
  width: 172px;
}

.icon-232 {
  width: 232px;
}

.icon-168 {
  width: 168px;
}

.icon-68 {
  width: 68px;
  height: 68px;
  right: 20px !important;
  bottom: 20px !important;
}

.bulk-contacts h2 {
  margin-bottom: 8px;
}

.bulk-contacts p {
  font-size: var(--font-24);
  font-weight: 400;
  margin-bottom: 12px;
}

.bulk-contacts a {
  font-size: var(--font-h2);
  font-weight: 700;
  color: #1D996C;
}